html {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 10px;
    color: white;
    width: 100%;
    height: 100%;
}

body {
    background-color: #F52A68;
    width: 100%;
    min-height: 100%;
    margin: 0;
}

/*background style */
.page--white{
    background-color: white;
}

.page--grey {
    background-color: #525252;
}

/*Text color */
.pink {
    color: #F52A68;
}

.grey {
    color: #525252;
}

.white {
    color: white;
}
.image-overlay--grey {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    display: grid;
    justify-items: center;
    align-items: center;
    align-content: center;
    background: rgba(82,82,82,0.35);
}
.image-overlay--pink {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    display: grid;
    justify-items: center;
    align-items: center;
    align-content: center;
    background: rgba(245,42,104,0.35);
}

.header--title {
    text-transform: uppercase;
}

.header--light {
    font-weight: 300;
}

.nav {
    margin: 10px auto;
}

.nav--list {
    text-align: center;
}

.nav--list-item {
    list-style-type: none;
    font-size: 1.8rem;
    line-height: 2.5rem;
}

.nav--link {
    text-decoration: none;
}

.nav--hamburger {
    float: right;
    margin-right: 15px;
    width: 3rem;
    height: 2.5rem;
}

/* GRID STYLE */
.grid-container {
    display: grid;
    grid-template-areas: 
        "nav"
        "hero"
        "blocks"
        "about"
        "portraits"
        "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 75px 1fr 1015px 460px 376px 275px; 
    height: 100vh;
    width: 100%;
}

/*NAVIGATION*/
.nav--container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1;
    padding: 10px 0px 0px 15px;
}
.nav--header--container {
    float: left;
}
/* .nav--menu--container {
    margin: 0 auto;
}
.nav--hamburger--container {
    float: right;
    width: 50px;
} */

/*HERO*/
.hero--container {
    grid-area: hero;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1;
    width: 100vmax;
    height: 100%;
}
.hero--background--container {
    display: grid;
    overflow: hidden;
    grid-template-columns: 1fr;
}
.hero--background--container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
}
.hero--logo--container {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    display: grid;
    justify-items: center;
    align-items: center;
    align-content: center;
    background: rgba(245,42,104,0.60);
}
img.hero--logo {
    width: 60%;
    margin: 0 auto;
}
img.hero--arrow {
    height: 27px;
    opacity: 0.0;
}

/*BLOCKS*/
.blocks--container {
    grid-area: blocks;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3;
    grid-template-areas:
        "dates"
        "music"
        "sarah";
    /* grid-template-areas:
        "dates sarah"
        "music sarah"; */
}
.events--container {
    grid-area: dates;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2;
}
.event-one {
    display: grid;
    padding: 20px 20px 0px 20px;
}
.event-two {
    display: grid;
    background-color: #525252;
    padding: 20px;
}
.events--date {
    font-family: 'Caveat Brush', cursive;
    font-size: 3.2rem;
    color: white;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    line-height: 3rem;
}
.events--info {
    font-size: 1.6rem;
    line-height: 2rem;
    margin-top: 0;
}
.music--container {
    grid-area: music;
    display: grid;
    grid-template-columns: 80px 1fr;
    grid-template-rows: 3;
    padding: 20px;
}
.music--playbutton--container {
    display: grid;
    align-content: center;
    justify-content: left;
    margin: 0;
}
.music--titles--container {
    display: grid;
    align-content: center;
}
.music--link--container {
    display: grid;
    align-content: center;
    grid-column: -1 / 1;
}
.music-titles {
    font-size: 1.6rem;
    line-height: 2rem;
    margin: 0;
}
.music-artist {
    font-size: 1.6rem;
    line-height: 2rem;
    margin: 0;
}
.image-sarah--container {
    grid-area: sarah;
    display: grid;
    overflow: hidden;
    grid-template-columns: 1fr;
}
.image-sarah--container img {
    width: 125%;
    height: 125%;
    object-fit: cover;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
}
.links--caps {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.6rem;
    text-align: left;
    text-decoration: none;
}

/*ABOUT*/
.about--container {
    grid-area: about;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "group"
        "description";
}
.image-group--container {
    display: grid;
    grid-area: group;
    overflow: hidden;
    grid-template-columns: 1fr;
    height: 230px;
}
.image-group--container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
}
.text--container {
    display: grid;
    grid-area: description;
    height: 230px;
    padding: 0px 20px;
    align-content: center;
}
.text--description {
    font-family: 'Caveat Brush', cursive;
    font-size: 2.25rem;
    margin: 0;
    opacity: 0.75;
}

/*PORTRAITS*/
.portraits--container {
    grid-area: portraits;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat (2, 188px);
    grid-template-areas: 
        "arlie kris"
        "dan dave";
}
.portraits--arlie {
    grid-area: arlie;
    display: grid;
    overflow: hidden;
    grid-template-columns: 1fr;
}
.portraits--arlie img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
}
.portraits--kris {
    grid-area: kris;
    display: grid;
    overflow: hidden;
    grid-template-columns: 1fr;
}
.portraits--kris img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
}
.portraits--dan {
    grid-area: dan;
    display: grid;
    overflow: hidden;
    grid-template-columns: 1fr;
}
.portraits--dan img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
}
.portraits--dave {
    grid-area: dave;
    display: grid;
    overflow: hidden;
    grid-template-columns: 1fr;
}
.portraits--dave img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
}

footer {
    grid-area: footer;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4;
    grid-template-areas:
        "name"
        "social"
        "links"
        "copyright"
}
.footer--name--container {
    grid-area: name;
    display: grid;
    justify-content: center;
    margin: 10px;
    height: 60px;
}
.footer--social--container {
    grid-area: social;
    display: grid;
    grid-template-columns: repeat(2, 75px);
    justify-content: center;
    height: 50px;
}
.footer--social--icon {
    display: grid;
    justify-content: center;
    align-content: center;
}
.footer--social--icon img {
    height: 30px;
    width: 30px;
}
.footer--links--container {
    grid-area: links;
    display: grid;
    justify-content: center;
}
.footer--title {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 2rem;
    text-align: center;
}
.footer--title--light {
    font-weight: 400;
    text-align: center;
}
.footer--nav--list {
    margin: 0;
    text-align: center;
    padding: 0;
}
.footer--nav--list-item {
    font-size: 1.4rem;
    line-height: 2rem;
    list-style-type: none;
    /* text-align: center; */
    margin: 0;
    display: inline-block;
    padding: 12px;
}
.footer--copyright--container {
    grid-area: copyright;
    display: grid;

}
.footer--copyright {
    text-align: center;
}


/*DESKTOP MEDIA QUERIES*/

@media only screen 
and (min-width: 600px) 
and (max-width: 800px) {

.hero--arrow {
    opacity: 1.0;
}

.grid-container {
    grid-template-rows: 70px 1fr 450px 230px 200px 175px;
}

img.hero--logo {
    width: 40%;
}

.blocks--container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 2;
    grid-template-areas:
        "dates sarah"
        "music sarah";
}

.events--container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1;
}
.events--info {
    font-size: 1.2rem;
    line-height: 1.8rem;
}

.about--container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
        "group description";
}
.links--caps {
    font-size: 1.2rem;
}

.text--container {
    padding: 0px 40px;
}

.portraits--container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1;
    grid-template-areas:
        "arlie kris dan dave";
}
footer {
    grid-template-columns: 80% 20%;
    grid-template-rows: 50px 50px 75px;
    grid-template-areas:
        "name links"
        "social links"
        "copyright links";
}
.footer--name--container {
    justify-content: left;
    height: 50px;
    padding: 0 0 0 25px;
    margin: 0;
}
.footer--social--container {
    justify-content: left;
}
.footer--links--container {
    justify-content: right;
    padding-right: 25px;
    padding-top: 20px;
}
.footer--nav--list {
    text-align: right;
}
.footer--nav--list-item {
    display: block;
    line-height: 1.5rem;
    padding: 5px;
}
.footer--copyright--container {
    align-items: end;
    padding-bottom: 10px;
}
.footer--copyright {
    text-align: left;
    padding-left: 25px;
}

}

@media only screen 
and (min-width: 800px) {
    
img.hero--arrow {
    opacity: 0.0;
}

.grid-container {
    grid-template-rows: 70px 1fr 400px 230px 250px 175px;
}

img.hero--logo {
    width: 40%;
}

.blocks--container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 2;
    grid-template-areas:
        "dates sarah"
        "music sarah";
}

.events--container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1;
}

.links--caps {
    text-align: right;
}

.about--container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
        "group description";
}

.text--container {
    padding: 0px 40px;
}

.portraits--container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1;
    grid-template-areas:
        "arlie kris dan dave";
}

footer {
    grid-template-columns: 80% 20%;
    grid-template-rows: 50px 50px 75px;
    grid-template-areas:
        "name links"
        "social links"
        "copyright links";
}
.footer--name--container {
    justify-content: left;
    height: 50px;
    padding: 0 0 0 25px;
    margin: 0;
}
.footer--social--container {
    justify-content: left;
}
.footer--links--container {
    justify-content: right;
    padding-right: 25px;
    padding-top: 20px;
}
.footer--nav--list {
    text-align: right;
}
.footer--nav--list-item {
    display: block;
    line-height: 1.5rem;
    padding: 5px;
}
.footer--copyright--container {
    align-items: end;
    padding-bottom: 10px;
}
.footer--copyright {
    text-align: left;
    padding-left: 25px;
}
}