html {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 10px;
    color: white;
    width: 100%;
    height: 100%;
}

body {
    background-color: #F52A68;
    width: 100%;
    min-height: 100%;
    margin: 0;
}

/*background style */
.page--white{
    background-color: white;
}

.page--grey {
    background-color: #525252;
}

/*Text color */
.pink {
    color: #F52A68;
}

.grey {
    color: #525252;
}

.white {
    color: white;
}

.hero--logo {
    width: 80%;
    height: 80%;
}

.hero--arrow {
    display: none;
}

.header--title {
    text-transform: uppercase;
}

.header--light {
    font-weight: 300;
}

.nav {
    margin: 10px auto;
}

.nav--list {
    text-align: center;
}

.nav--list-item {
    list-style-type: none;
    font-size: 1.8rem;
    line-height: 2.5rem;
}

.nav--link {
    text-decoration: none;
}

.nav--hamburger {
    float: right;
    margin-right: 15px;
    width: 3rem;
    height: 2.5rem;
}

/* GRID STYLE */
.grid-container {
    display: grid;
    grid-template-areas: 
        "nav"
        "hero"
        "blocks"
        "about"
        "portraits"
        "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 75px 1fr 1015px 460px 320px 275px; 
    height: 100vh;
    width: 100%;
}

/*NAVIGATION*/
.nav--container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1;
    padding: 10px 0px 0px 15px;
}
.nav--header--container {
    float: left;
}
/* .nav--menu--container {
    margin: 0 auto;
}
.nav--hamburger--container {
    float: right;
    width: 50px;
} */

/*HERO*/
.hero--container {
    grid-area: hero;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1;
    width: 100vmax;
    height: 100%;
}
.hero--background--container {
    display: grid;
    overflow: hidden;
    grid-template-columns: 1fr;
}
.hero--background--container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
}
.hero--logo--container {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    display: grid;
    justify-items: center;
    align-items: center;
    align-content: center;
    background: rgba(245,42,104,0.60);
}
img.hero--logo {
    width: 60%;
    margin: 0 auto;
}
img.hero--arrow {
    height: 27px;
}

/*BLOCKS*/
.blocks--container {
    grid-area: blocks;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3;
    grid-template-areas:
        "dates"
        "music"
        "sarah";
    /* grid-template-areas:
        "dates sarah"
        "music sarah"; */
}
.events--container {
    grid-area: dates;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2;
}
.event-one {
    display: grid;
    padding: 20px;
}
.event-two {
    display: grid;
    background-color: #525252;
    padding: 20px;
}
.events--date {
    font-family: 'Caveat Brush', cursive;
    font-size: 3.2rem;
    color: white;
    text-transform: uppercase;
    margin: 0;
    line-height: 3rem;
}
.events--info {
    font-size: 1.6rem;
    line-height: 2rem;
    margin-top: .5rem;
}
.music--container {
    grid-area: music;
    display: grid;
}
.image-sarah--container {
    grid-area: sarah;
    display: grid;
    overflow: hidden;
    grid-template-columns: 1fr;
}
.image-sarah--container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
}
.links--caps {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.6rem;
    text-align: left;
    text-decoration: none;
}

/*ABOUT*/
.about--container {
    grid-area: about;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "group"
        "description";
}
.image-group--container {
    display: grid;
    grid-area: group;
    overflow: hidden;
    grid-template-columns: 1fr;
    height: 230px;
}
.image-group--container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
}
.text--container {
    display: grid;
    grid-area: description;
    height: 230px;
}
.text--description {
    font-family: 'Caveat Brush', cursive;
    font-size: 2rem;
}

/*PORTRAITS*/
.portraits--container {
    grid-area: portraits;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat (2, 188px);
    grid-template-areas: 
        "arlie kris"
        "dan dave";
}
.portraits--arlie {
    grid-area: arlie;
    display: grid;
    overflow: hidden;
    grid-template-columns: 1fr;
}
.portraits--arlie img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
}
.portraits--kris {
    grid-area: kris;
    display: grid;
    overflow: hidden;
    grid-template-columns: 1fr;
}
.portraits--kris img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
}
.portraits--dan {
    grid-area: dan;
    display: grid;
    overflow: hidden;
    grid-template-columns: 1fr;
}
.portraits--dan img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
}
.portraits--dave {
    grid-area: dave;
    display: grid;
    overflow: hidden;
    grid-template-columns: 1fr;
}
.portraits--dave img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
}

footer {
    grid-area: footer;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3;
    grid-template-areas:
        "name"
        "social"
        "links"
}
.footer--name--container {
    grid-area: name;
    display: grid;
}
.footer--social--container {
    grid-area: social;
    display: grid;
}
.footer--links--container {
    grid-area: links;
    display: grid;
}

