html {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 10px;
    color: white;
    width: 100%;
    height: 100%;
}

body {
    background-color: #F52A68;
    width: 100%;
    min-height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

/*background style */
.page--white{
    background-color: white;
}

.page--grey {
    background-color: #525252;
}

/*Text color */
.pink {
    color: #F52A68;
}

.grey {
    color: #525252;
}

.white {
    color: white;
}
.image-overlay--grey {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    display: grid;
    justify-items: center;
    align-items: center;
    align-content: center;
    background: rgba(82,82,82,0.35);
}
.image-overlay--dark-grey {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    display: grid;
    justify-items: center;
    align-items: center;
    align-content: center;
    background: rgba(82,82,82,0.70);
}
.image-overlay--pink {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    display: grid;
    justify-items: center;
    align-items: center;
    align-content: center;
    background: rgba(245,42,104,0.35);
}

.header--title {
    text-transform: uppercase;
    font-size: 2rem;
}

.header--light {
    font-weight: 300;
}


/* HOMEPAGE GRID STYLE */
.grid-container {
    display: grid;
    grid-template-areas: 
        "nav"
        "hero"
        "blocks"
        "about"
        "portraits"
        "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 70px 1fr 1015px 460px 376px 275px; 
    height: 100vh;
    width: 100%;
}

/*GLOBAL NAVIGATION*/
.nav--container {
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-rows: 70px 200px; */
    padding: 0px;
    order: 4;
    position: fixed;
    width: 100%;
    background-color: white;
}
.nav--header--container {
    display: grid;
    grid-template-columns: 1fr 50px;
    grid-template-rows: 1;
    padding: 10px 15px;
    order: 1;
}
.nav--hamburger--container {
    display: grid;
    align-content: center;
    justify-content: right;
}
.nav--hamburger {
    float: right;
    width: 2.5rem;
    transition: 0.8s;
}
.nav--menu--container {
    display: grid;
    background-color: white;
    width: 100%;
    order: 4;
    position: fixed;
    transition: 0.8s;
}
#nav--menu {
    margin: -180px 0px 0px 0px;
    /*To be visible, set to 65px*/
}
.nav--list {
    text-align: center;
    margin: 10px 0px;
    padding: 0;
}
.nav--list-item {
    list-style-type: none;
    font-size: 1.8rem;
    line-height: 3.5rem;
}
.nav--link {
    text-decoration: none;
}
.nav--link:hover {
    color: #525252;
}
.nav--link:active {
    color: #525252;
}

/*HOMEPAGE HERO*/
.hero--container {
    grid-area: hero;
    display: grid;
    grid-template-columns: 1fr;
    width: 100vw;
    height: 100%;
    order: 3;

}
.hero--background--container {
    display: grid;
    overflow: hidden;
    grid-template-columns: 1fr;
}
.hero--background--container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
}
.hero--logo--container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    display: grid;
    justify-items: center;
    align-items: center;
    align-content: center;
    background: rgba(245,42,104,0.60);
}
.logo--container {
    display: grid;
    width: 60%;
    padding: 30px;
}
img.hero--logo {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}
.arrow--container {
    display: none;
}
img.hero--arrow {
    height: 18px;
    width: 32px;
    opacity: 0;
}

/*HOMEPAGE BLOCKS*/
.blocks--container {
    grid-area: blocks;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3;
    grid-template-areas:
        "dates"
        "music"
        "sarah";
    /* grid-template-areas:
        "dates sarah"
        "music sarah"; */
}
.events--container {
    grid-area: dates;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3;
}
.event-one {
    /* display: grid; */
    padding: 20px 20px 0px 20px;
}
.event-two {
    /* display: grid; */
    background-color: #525252;
    padding: 20px 20px 0px 20px;
}
.events--date {
    font-family: 'Caveat Brush', cursive;
    font-size: 3.2rem;
    color: white;
    text-transform: uppercase;
    margin: 0 0 20px 0;
    padding: 0;
    line-height: 3rem;
}
.events--info {
    font-size: 1.6rem;
    line-height: 2.2rem;
    margin-top: 0;
}
.calendar--link--container {
    display: grid;
    grid-column: -1 / 1;
    padding-left: 20px;
    background-color: #525252;
}
.music--container {
    grid-area: music;
    display: grid;
    grid-template-columns: 80px 1fr;
    grid-template-rows: 3;
    padding: 20px;
}
.music--playbutton--container {
    display: grid;
    align-content: center;
    justify-content: left;
    margin: 0;
}
.music--playbutton--container img {
    width: 100%;
    height: 100%;
}  
.music--titles--container {
    display: grid;
    align-content: center;
}
.music--link--container {
    display: grid;
    align-content: center;
    grid-column: -1 / 1;
}
.music-titles {
    font-size: 1.6rem;
    line-height: 2rem;
    margin: 0;
}
.music-artist {
    font-size: 1.6rem;
    line-height: 2rem;
    margin: 0;
}
.image-sarah--container {
    grid-area: sarah;
    display: grid;
    overflow: hidden;
    grid-template-columns: 1fr;
}
.image-sarah--container img {
    width: 125%;
    height: 125%;
    object-fit: cover;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
}
.links--caps {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.6rem;
    text-align: left;
    text-decoration: none;
}
.links--caps:hover {
    opacity: 0.8;
}

/*HOMEPAGE ABOUT BLOCKS*/
.about--container {
    grid-area: about;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "group"
        "description";
}
.image-group--container {
    display: grid;
    grid-area: group;
    overflow: hidden;
    grid-template-columns: 1fr;
    height: 230px;
}
.image-group--container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
}
.text--container {
    display: grid;
    grid-area: description;
    height: 230px;
    padding: 0px 20px;
    align-content: center;
}
.text--description {
    font-family: 'Caveat Brush', cursive;
    font-size: 2.25rem;
    line-height: 2.6rem;
    margin: 0;
    color: #939393;
}

/*HOMEPAGE PORTRAITS*/
.portraits--container {
    grid-area: portraits;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat (2, 188px);
    grid-template-areas: 
        "arlie kris"
        "dan dave";
}
.portraits--arlie {
    grid-area: arlie;
    display: grid;
    overflow: hidden;
    grid-template-columns: 1fr;
}
.portraits--arlie img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
}
.portraits--kris {
    grid-area: kris;
    display: grid;
    overflow: hidden;
    grid-template-columns: 1fr;
}
.portraits--kris img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
}
.portraits--dan {
    grid-area: dan;
    display: grid;
    overflow: hidden;
    grid-template-columns: 1fr;
}
.portraits--dan img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
}
.portraits--dave {
    grid-area: dave;
    display: grid;
    overflow: hidden;
    grid-template-columns: 1fr;
}
.portraits--dave img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
}

/*INTERIOR PAGE GRID */

/*Modeled after grid-container from homepage*/
.grid-container--interior-page {
    display: grid;
    grid-template-areas: 
        "nav"
        "header"
        "body"
        "group"
        "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 70px 70px 1fr 180px 275px; 
    width: 100%;
}
.interior--header--container {
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    align-content: center;
}
.interior--header--container h2 {
    font-family: 'Caveat Brush', cursive;
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0;
}
.interior--body--container {
    grid-area: body;
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
}
/* global image footer */
.interior--group-image--container {
    display: grid;
    grid-area: group;
    overflow: hidden;
    grid-template-columns: 1fr;
    width: 100%;
    height: 180px;
}
.interior--group-image--container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
}


/*EVENTS PAGE*/
.events--hero--container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 150px 150px 1fr;
    width: 100%;
}
.upcoming--container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1;
    height: 150px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}
.upcoming--text--container {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
}
.upcoming--container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
}
h3.upcoming {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 2.6rem;
    margin: 4rem 0rem 4rem 0rem;
    padding: 0;
    line-height: 1rem;
    text-align: center;
}
h4.upcoming--date {
    font-family: 'Caveat Brush', cursive;
    font-size: 6rem;
    line-height: 1rem;
    letter-spacing: 1px;
    margin: 1rem 0rem;
    text-transform: uppercase;
    padding: 0;
    text-align: center;
}
.upcoming--container--2 {
    display: grid;
    height: 150px;
    padding: 20px;
}
.upcoming--container--2 p {
    font-size: 1.6rem;
    line-height: 2.2rem;
    padding: 0;
    margin: 0;
}
.all-gigs--container {
    display: grid;
    width: 100%;
    grid-template-columns: 1;
    grid-auto-rows: 200px;
    padding: 20px;
}
.gig--container {
    height: 200px;
}
.gig--container h3 {
    font-size: 1.5rem;
    line-height: 2.2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #F52A68;
    margin: 0;
}
.gig--container h4 {
    font-family: 'Caveat Brush', cursive;
    font-size: 3.5rem;
    line-height: 4rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #525252;
    margin: 5px 0px 10px 0px;
    padding: 0;
}
.gig--container h5 {
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #525252;
    margin: 0;
    padding: 0;
}
.gig--container p {
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 400;
    color: #525252;
    margin: 0;
    padding: 0;
}
.facebook-link {
    text-decoration: none;
}


/* MUSIC PAGE */
.music--hero--container {
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px;
}
.music--tracks--container {
    display: grid;
    grid-template-columns: 80px 1fr;
    grid-auto-rows: 50px;
    grid-row-gap: 2rem;
    padding-bottom: 5rem;
}
.music--headlines {
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.now-playing {
    grid-column: -1 / 1;
}
.music--videos--container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px;
    grid-auto-rows: 230px;
    grid-row-gap: 2rem;
}
.video--container {
    width: 100%;
    height: 100%;
}


/* ABOUT PAGE */
.about--hero--container {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "logos"
        "paragraph"
        "headshots"
}
.band-logos--container {
    display: grid;
    grid-area: logos;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 3;
    grid-column-gap: 3rem;
    grid-row-gap: 3rem;
    padding: 20px 0px;
}
.band-logo {
    display: grid;
    align-content: center;
    width: 100%;
    height: 100%;
}
.band-logo img {
    width: 100%;
    opacity: 0.5;
}
.desktop-only {
    display: none;
}
.about--description--container {
    display: grid;
    grid-area: paragraph;
    padding-bottom: 3rem;
}
.about--description--container p {
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #525252;
}
.about--band-profiles--container {
    display: grid;
    grid-area: headshots;
    grid-template-columns: 1fr;
    grid-auto-rows: 350px;
    grid-row-gap: 5rem;
}
.profile {
    display: grid;
    justify-content: center;
}
.profile img {
    width: 100%;
}
.profile h3 {
    font-size: 1.6rem;
    line-height: 2.2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #525252;
    margin-top: 1rem;
}
.profile span {
    font-weight: 500;
}


/* CONTACT PAGE */
.contact-info--container {
    padding: 20px;
}
.contact-info--container h3 {
    font-size: 1.6rem;
    line-height: 2.2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #525252;
}
p.contact-info {
    font-size: 1.6rem;
    line-height: 2.2rem;
    color: #525252;
}
.contact-info--container a {
    color: #F52A68;
}
.contact-info--container h4 {
    font-size: 1.6rem;
    line-height: 2.2rem;
    color: #525252;
}


/* GLOBAL FOOTER */
footer {
    grid-area: footer;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4;
    grid-template-areas:
        "name"
        "social"
        "links"
        "copyright"
}
.footer--name--container {
    grid-area: name;
    display: grid;
    justify-content: center;
    margin: 10px;
    height: 60px;
}
.footer--social--container {
    grid-area: social;
    display: grid;
    grid-template-columns: repeat(2, 75px);
    justify-content: center;
    height: 50px;
}
.footer--social--icon {
    display: grid;
    justify-content: center;
    align-content: center;
}
.footer--social--icon img {
    height: 30px;
    width: 30px;
}
.footer--links--container {
    grid-area: links;
    display: grid;
    justify-content: center;
    padding: 0px 30px;
}
.footer--title {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 2rem;
    text-align: center;
}
.footer--title--light {
    font-weight: 400;
    text-align: center;
}
.footer--nav--list {
    margin: 0;
    text-align: center;
    padding: 0;
}
.footer--nav--list-item {
    font-size: 1.4rem;
    line-height: 1rem;
    list-style-type: none;
    /* text-align: center; */
    margin: 0;
    display: inline-block;
    padding: 12px 15px;
}
.footer--copyright--container {
    grid-area: copyright;
    display: grid;

}
.footer--copyright {
    text-align: center;
}
.footer--nav--link {
    text-decoration: none;
    color: white;
}
.footer--nav--link:hover {
    opacity: 0.8;
}


/*TABLET MEDIA QUERIES*/

@media only screen 
and (min-width: 600px) 
and (max-width: 800px) {

.grid-container {
    grid-template-rows: 70px 1fr 400px 230px 200px 175px;
}

/* HOMEPAGE GRID */
.hero--container {
    height: 90vh;
}
.hero--logo--container {
    grid-template-rows: 1fr 60px;
    grid-template-areas:
        "logo"
        "arrow";
}
.logo--container {
    display: grid;
    grid-area: logo;
    width: 60%;
    padding: 10px;
}
img.hero--logo {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}
.arrow--container {
    grid-area: arrow;
    display: grid;
}
img.hero--arrow {
    opacity: 1.0;
}
.blocks--container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 2;
    grid-template-areas:
        "dates sarah"
        "music sarah";
}
.events--container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 2;
}
.events-one {
    padding: 20px;
}
.events--info {
    font-size: 1.2rem;
    line-height: 1.8rem;
}
.calendar--link--container {
    grid-column: 2 / 2;
    padding-right: 20px;
}
.music-titles {
    font-size: 1.2rem;
    line-height: 1.8rem;
}
.music-artist {
    font-size: 1.2rem;
    line-height: 1.8rem;
}
.about--container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
        "group description";
}
.text--description {
    font-size: 2rem;
    line-height: 2.4rem;
}
.links--caps {
    font-size: 1.2rem;
    text-align: right;
    display: inline-block;
}
.text--container {
    padding: 0px 40px;
}
.portraits--container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1;
    grid-template-areas:
        "arlie kris dan dave";
}


/*INTERIOR PAGES*/
.grid-container--interior-page {
    grid-template-rows: 70px 100px 1fr 250px 175px;
}
.interior--header--container h2 {
    font-size: 4.5rem;
}
.interior--group-image--container {
    height: 250px;
}


/*EVENTS PAGE*/
.events--hero--container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 200px 1fr;
}
.upcoming--container {
    height: 200px;
}
.upcoming--text--container {
    padding-left: 30%;
}
h3.upcoming {
    text-align: left;
}
h4.upcoming--date {
    font-size: 8rem;
    text-align: left;
    padding-top: 1rem;
}
.upcoming--container--2 {
    height: 200px;
    padding-left: 10%;
    padding-top: 30px;
}
.all-gigs--container {
    grid-column: -1 / 1;
    padding: 40px 15%;
}
.gig--container h3 {
    font-size: 1.8rem;
    line-height: 2.5rem;
}
.gig--container h4 {
    font-size: 4rem;
    line-height: 4.5rem;
}


/* MUSIC PAGE */
.music--hero--container {
    padding-left: 15%;
    padding-right: 15%;
}
.music--videos--container {
    grid-auto-rows: 45vw;
}


/* ABOUT PAGE */
.about--hero--container {
    padding-left: 15%;
    padding-right: 15%;
}
.band-logos--container {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 2;
    padding: 30px 0px;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
}
.about--description--container p {
    text-align: center;
}
.about--band-profiles--container {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 275px;
    grid-column-gap: 3rem;
    padding-bottom: 40px;
}
.profile h3 {
    font-size: 1.2rem;
    line-height: 1.8rem;
}
.desktop-only {
    display: grid;
}



/* CONTACT PAGE */
.contact-info--container {
    padding-left: 15%;
    padding-right: 15%;
}



/* GLOBAL FOOTER */
footer {
    grid-template-columns: 80% 20%;
    grid-template-rows: 50px 50px 75px;
    grid-template-areas:
        "name links"
        "social links"
        "copyright links";
}
.footer--name--container {
    justify-content: left;
    height: 50px;
    padding: 0 0 0 25px;
    margin: 0;
}
.footer--social--container {
    justify-content: left;
}
.footer--links--container {
    justify-content: right;
    padding-right: 25px;
    padding-top: 20px;
}
.footer--nav--list {
    text-align: right;
}
.footer--nav--list-item {
    display: block;
    line-height: 1.5rem;
    padding: 5px;
}
.footer--copyright--container {
    align-items: end;
    padding-bottom: 10px;
}
.footer--copyright {
    text-align: left;
    padding-left: 25px;
}

}


/* DESKTOP MEDIA QUERIES */

@media only screen 
and (min-width: 800px) {
    
.grid-container {
    grid-template-rows: 70px 1fr 400px 230px 250px 175px;
}

/*GLOBAL NAVIGATION*/
.nav--hamburger {
    display: none;
}
.nav--menu--container {
    display: grid;
    background-color: transparent;
    justify-content: right;
    align-content: center;
    padding: 10px 15px;
}
#nav--menu {
    margin: 0px;
}
.nav {
    margin-right: 30px;
}
.nav--list-item {
    display: inline-block;
    padding-left: 25px;
    font-size: 1.6rem;
}

/*HOMEPAGE*/
.hero--container {
    height: 90vh;
}

.hero--logo--container {
    grid-template-rows: 1fr 60px;
    grid-template-areas:
        "logo"
        "arrow";
}
.logo--container {
    display: grid;
    grid-area: logo;
    width: 40%;
    padding: 30px;
}
img.hero--logo {
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}
.arrow--container {
    grid-area: arrow;
    display: grid;
}
img.hero--arrow {
    opacity: 1;
}
.blocks--container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 2;
    grid-template-areas:
        "dates sarah"
        "music sarah";
}
.events--container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1;
}
.calendar--link--container {
    grid-column: 2 / 2;
    padding-right: 20px;
}
.links--caps {
    text-align: right;
}
.about--container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
        "group description";
}
.text--container {
    padding: 0px 40px;
}
.portraits--container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1;
    grid-template-areas:
        "arlie kris dan dave";
}

/*INTERIOR PAGES*/
.grid-container--interior-page {
    grid-template-rows: 70px 120px 1fr 375px 175px;
}
.interior--header--container h2 {
    font-size: 5rem;
}
.interior--group-image--container {
    height: 375px;
}

/*EVENTS PAGE*/
.events--hero--container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 200px 1fr;
}
.upcoming--container {
    height: 200px;
}
.upcoming--text--container {
    padding-left: 30%;
}
h3.upcoming {
    text-align: left;
}
h4.upcoming--date {
    font-size: 8rem;
    text-align: left;
    padding-top: 1rem;
}
.upcoming--container--2 {
    height: 200px;
    padding-left: 10%;
    padding-top: 30px;
}
.all-gigs--container {
    grid-column: -1 / 1;
    padding: 40px 15%;
}
.gig--container h3 {
    font-size: 1.8rem;
    line-height: 2.5rem;
}
.gig--container h4 {
    font-size: 4rem;
    line-height: 4.5rem;
}


/* MUSIC PAGE */
.music--hero--container {
    grid-template-columns: repeat(2, 1fr);
    padding-left: 15%;
    padding-right: 15%;
    grid-column-gap: 5rem;
}
.music--videos--container {
    grid-auto-rows: 20vw;
}


/* ABOUT PAGE */
.about--hero--container {
    padding-left: 15%;
    padding-right: 15%;
}
.band-logos--container {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 2;
    padding: 30px 0px;
}
.about--description--container p {
    text-align: center;
}
.about--band-profiles--container {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 300px;
    grid-column-gap: 5rem;
    padding-bottom: 50px;
}
.profile h3 {
    font-size: 1.4rem;
}
.desktop-only {
    display: grid;
}


/* CONTACT PAGE */
.contact-info--container {
    padding-left: 15%;
    padding-right: 40%;
    padding-bottom: 5rem;
    padding-top: 5rem;
}
/* .contact-info--container h3 {
    text-align: center;
}
p.contact-info {
    text-align: center;
}
.contact-info--container h4 {
    text-align: center;
} */


/*GLOBAL FOOTER*/
footer {
    grid-template-columns: 80% 20%;
    grid-template-rows: 50px 50px 75px;
    grid-template-areas:
        "name links"
        "social links"
        "copyright links";
}
.footer--name--container {
    justify-content: left;
    height: 50px;
    padding: 0 0 0 25px;
    margin: 0;
}
.footer--social--container {
    justify-content: left;
}
.footer--links--container {
    justify-content: right;
    padding-right: 25px;
    padding-top: 20px;
}
.footer--nav--list {
    text-align: right;
}
.footer--nav--list-item {
    display: block;
    line-height: 1.5rem;
    padding: 5px;
}
.footer--copyright--container {
    align-items: end;
    padding-bottom: 10px;
}
.footer--copyright {
    text-align: left;
    padding-left: 25px;
}
}